:root {
  --blue: #4094f7;
  --light-gray: #f1f3f4;
  --darker-gray: #dfdfdf;
  --font-color: #7a7e82;
  --dark-gray: #57544b;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #ffffff;
  color: var(--dark-gray);
  font-family: 'Poppins';
}

.wrapper {
  width: 100%;
  min-height: 100vh;
}

/* ================================= header ====================================== */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;
  border-bottom: 1px solid #d1d1d1;
}

.flex {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.icon__bg {
  width: 48px;
  height: 48px;
  font-size: 24px;
  border-radius: 50%;
  color: var(--font-color);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.icon__bg:hover {
  background: var(--light-gray);
}

.current__label {
  font-size: 24px;
}

.searchbar {
  display: flex;
  align-items: center;
  width: 545px;
  height: 48px;
  background: var(--light-gray);
  border-radius: 8px;
}

.search__icon {
  margin: 0 0.5rem;
  font-size: 24px;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.search__icon:hover {
  background: var(--darker-gray);
}

.search__input {
  font-size: 16px;
  background: transparent;
  flex-grow: 1;
}

/* ================================= main ====================================== */
.main {
  display: grid;
  grid-template-columns: 280px auto;
}

.sidebar {
  border-right: 1px solid var(--darker-gray);
}

.sidebar__elem {
  font-size: 24px;
  display: flex;
  align-items: center;
  height: 48px;
  gap: 1rem;
  padding-left: 1rem;
  border-radius: 0 24px 24px 0;
  cursor: pointer;
}

.elem__title {
  font-size: 18px;
}

.sidebar__elem:hover {
  background: var(--light-gray);
}

/* ================================= block ====================================== */
.block {
  background: #ffffff;
  width: max-content;
  min-width: 400px;
  min-height: 80vh;
  height: 100%;
  margin: 3rem auto;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
}

.task__add {
  width: 100%;
  display: flex;
  gap: 1rem;
  padding: 1rem;
}

.task__add-input {
  border: 1px solid #e7e7e7;
  flex-grow: 1;
  padding: 8px 16px;
  border-radius: 8px;
}

.task {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 10px 1rem;
  padding: 8px 1rem;
  border-radius: 8px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.task__main {
  flex-grow: 1;
}

.task__value {
  width: 100%;
  background: #ffffff;
}

.clearAll {
  background: transparent;
  font-size: 18px;
  color: var(--blue);
}
.clearAll:active {
  color: #377ccc;
}

.edit:hover, .save:hover, .delete:hover, .cancel:hover {
  color: var(--blue);
  cursor: pointer;
} 

.task__checkbox {
  cursor: pointer;
}

/* =========================== pseudo ================================ */

.btn {
  padding: 8px 16px;
  border-radius: 8px;
  background-color: var(--blue);
  color: #ffffff;
  font-weight: 600;
}
.btn:hover {
  background-color: #3e8ae0;
}
.btn:active {
  background-color: #377ccc;
}

.hidden {
  display: none;
}

.completedTask {
  background-color: #7df76f;
  text-decoration: line-through;
}

.pointerEventsNone {
  pointer-events: none;
}